@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url(../asuntoslink/scroll.css);

*{
    margin: 0;
    padding: 0;
}
.contenido-diario{
    margin-top: 30px;
}
.main-top{
    padding-top: 7%;
}
.altura-contenido-cuadro{
    margin-left: 5%;
    padding: 10% 0;
    min-height: 100vh;
    img{
        height: 180px;

    }
}
.dos {
    background-color: #f8f9fa;
    padding: 20px 0;
  }
  .titulos h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0056b3;
  }
  .titulos h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
  }
  .titulos h4 {
    font-size: 1.2rem;
    color: #333;
  }
  .borde {
    border-bottom: 2px solid #007bff;
    margin: 20px 0;
  }
  .presentes a {
    color: #007bff;
    text-decoration: none;
  }
  .presentes a:hover {
    text-decoration: underline;
  }
  .go-sumario a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  .go-sumario a:hover {
    background-color: #0056b3;
  }
/*-------------------*/
.custom-link {
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-size: 1.2em;
    text-decoration: none; 
    color: #3f668e; 
    transition: all .5s;
  }
  
  .custom-link:hover {
    font-weight: bold;
    margin-left: 1%;
    color: #102c4a; 
    text-decoration: underline;
  }
  
  .custom-link:visited {
    color: #081ff3; 
  }
  
  .custom-link:active {
    color: #371c1f; 
  }
.altura-main{
    max-height: 500px;
}
.altura-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.principal-contenido{
    height: 100%;
}
.color-bg-navbar{
    background-color: brown;
}
   .slider-container {
    position: absolute;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    div h1{
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(175, 34, 34);
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
    }
    div p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 2px rgb(196, 159, 159);
    }
  }
  .slider-image {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 3s ease, filter 3s ease; 
  }
  .slider-image.hidden {
    opacity: 0;
    filter: blur(10px); 
  }
  .slider-content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10; 
    text-align: center;
  }
.navbar-nav .nav-link {
    padding: 0;
    margin: 0;
    font-size: 18px; 
}
.drop-tomos::-webkit-scrollbar{
    scroll-behavior: smooth;
}
.drop-none-block div{
    width: 100%;
    img{
        display: none;
        width: 450px;
    }
}
.drop-none-block:hover div img{
    display: block;
}
.color-drop{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 45%);
    border: 0;
    background-image: linear-gradient(150deg,
    #9500ff,
    #09f,
    #00ddff);
    border-radius: 8px;
}
.image-container {
    z-index: 3000;
    position: absolute;
    right: 30%;
    top: 30%;
}
.image-container img {
    width: 500px;
    display: none;
}
.top-carousel{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 10%;
}
.imagen-carousel{
    width: 35%;
}
.talk_me{
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 8%;
    transition: all .8s;
    z-index: 2000;
}
.talk_me form{
    display: none;
}
.talk_me:hover form{
    display: block;
    float: right;
}
.talk_me p{
    text-align: center;
    text-shadow: 1px 1px 1px rgb(14, 14, 14);
    color: rgb(247, 247, 247);
    border: 1px solid black;
    background-color: rgb(33, 200, 33);
    border-radius: 24px;
}
.img_tomos div nav{
    margin-top: 5%;
    margin-left: 4%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    transition: all .8s;
}
.titulo_tomos h3{
    width: 40%;
    opacity: .8;
    font-size: 2.5em;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    padding-left: 3%;
    text-shadow: 5px 4px 5px rgb(11, 11, 11);
    transition: all 2s;
}
.titulo_tomos h3:hover{
    width: 100%;
    border-bottom: 8px solid rgba(255, 255, 255, 0.342);
    background-color: rgba(0, 255, 255, 0.071);
}
.titulo_tomos p{
    transition: all .8s;
    display: none;
}
.titulo_tomos:hover p{
    transition: .8s;
    display: block;
    opacity: .6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 20%;
    position: absolute;
    top: 60%;
    right: 0;
    padding: 2%;
    background-color: black;
    color: white;
}
.titulo_tomos p span{
    color: rgb(229, 218, 218);
    border-left: 6px solid rgb(142, 80, 80);
    border-right: 6px solid rgb(142, 80, 80);
    border-radius: 24px;
}
.img_tomos div nav a h4{
    display: none;
    transition: all .5s;
}
.img_tomos div nav a:hover h4{
    text-transform: uppercase;
    display: block;
    float: right;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-decoration: none;
    color: white;
    border-left: 8px solid rgb(42, 161, 165);
    border-radius: 50%;
    padding: 1%;
}
.tamaño-img img{
    width: 15%;
}
picture{
    position: fixed;
    top: 4%;
    width: 100%;
    z-index: 3000;
}
.imagenprincipal{
    position: fixed;
    width: 100%;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
.imagenprincipal img{
    width: 100%;
    z-index: 1000;
}
.fondocolor{
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 45%);
    top: 60%;
    width: 100%;
    transition: all .5s;
}
.cuadrotomo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30%;
}
.cuadrotomo div{
    opacity: .7;
    background-image: url(/imagenescudo/booksantique.jpg);
    background-size: cover;
    padding: 3%;
    margin: 5%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 1px 1px 20px rgb(87, 142, 190);
    z-index: 3000;
    margin-bottom: 20%;
    transition: all .10s;
}
.cuadrotomo div:hover{
    background-image: url(/imagenescudo/laptop.jpg);
    transition: all .5s;
    opacity: .8;
    background-color: rgb(147, 217, 220);
    border-left: 3px solid red;
    border-top:  1px solid red;
}
.cuadrotomo div a {
    color: rgb(255, 200, 0);
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    margin: 20%;
    padding: 20%;
    font-size: .8em; 
}
.cuadrotomo div a h3{
    color: white;
    text-shadow: 2px 2px 2px red;
    padding: 10%;
    font-size: 1.1em;
}
.imagenprincipal img{
    width: 40%;
}
.primerpie_pag {
    height: 8rem;
    z-index: 1000;
    transition: all .8s;
    padding: 0;
}
.primerpie_pag ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
    margin-top: 3%;
    transition: all .8s;
}
.primerpie_pag:hover{
    transition: all .5s;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 4%, rgba(9,9,121,1) 90%, rgba(2,0,36,1) 100%);
    height: 10rem;
}
.primerpie_pag ul li{
    width: 50%;
    transition: all .8s;
    text-transform: uppercase;
    font-size: .8em;
    margin-left: 5%;
    margin-top: 4px;
}
.primerpie_pag ul li:hover{
    padding-left: 20%;
    border-bottom: 2px solid rgb(171, 37, 37); 
} 
.primerpie_pag ul li a{
    text-decoration: none;
    color: black;
}
.primerpie_pag ul li a i{
    font-size: 1.5em;
}
.segunpie_pag{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.784);
    transition: all .6s;
}
.segunpie_pag:hover{
    background-color: black;
}
.segunpie_pag ul li a{
    color: rgba(255, 255, 0, 0.718);
    text-decoration: none;
}
.segunpie_pag ul h4{
    color: white;
    padding: 5%;
    margin-bottom: 20px;
}
.segunpie_pag ul li{
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.segunpie_pag ul{
    list-style: none;
}
.tercerpie_pag{
    margin-bottom: 0;
    background-color: azure;
    padding: 3%;
    text-align: center;
}
.tercerpie_pag a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.carousel-ubicacion{
    position: fixed;
    top: 18%;
    right: 0;
    width: 20%;
    height: 100%;
    
} .sidebar {
    position: fixed;
    top: 18%;
    left: -200px;
    width: 250px;
    height: 100%;
    background-image: linear-gradient(to bottom  right, rgb(97, 154, 207) -60%, #fcfcfc 100%);
    padding-top: 20px;
    padding-left: 10px;
  }
  .sidebar:hover{
    left: 0;
    transition: all .5s;
  }

  .sidebar a {
    color: #495057;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
  }

  .sidebar a:hover {
    color: aliceblue;
    background-color: #2b5a89;
  }

  .sidebar .dropdown-menu {
    background-color: #2b5a89;
  }
/*barra opciones lateral*/


@media only screen and (min-width: 320px) and (max-width: 768px){
    .contenido-diario{
        margin-top: 70px;
    }
    .altura-contenido-cuadro{
        margin-top: 150px;
        margin-left: 10%;
    }
    .sidebar{
        top: 27%;
    }
    .margen-sesiones{
        height: 250px;
        padding-top: 29%;
        margin-left: 10%;
    }
    .sesiones{
        width: 100%;
        top: 30%;
    }
    .drop-tomos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        top: 35%;
    }
    .fondocolor{
        top: 25%;
    }
    .cuadrotomo{
        margin-top: 4%;
    }
    .cuadrotomo div a{
        font-size: .5em;
    }
    .imagenprincipal{
        top: 24%;
    }
    .logolegislatura img{
        width: 50%;
    }
    .img_tomos{
        padding-top: 30%;
        border: 0;
    }
    .titulo_tomos h3{
        display: none;
    }
    .img_tomos p{
        font-size: 1.2em;
    }
    .titulo_tomos p{
        margin-top: 2%;
        font-size: .8em;
    }
    .nav_var nav a button span img{
        top: 40%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
    .contenido-diario{
        margin-top: 80px;
    }
    .altura-contenido-cuadro{
        margin-top: 150px;
    }
    .sidebar{
        top: 18%;
    }
    .margen-sesiones{
        height: 250px;
        padding-top: 20%;
        margin-left: 10%;
    }
    .sesiones{
        width: 100%;
    }
    .titulo_tomos p{
        top: 15%;
        font-size: 1em;
    }
    .img_tomos{
        padding-top: 15%;
    }
    .nav_var nav a button span img{
        top: 30%;
    }
    .drop-tomos{
        
        top: 35%;
    }
}