body{
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
}
.altura-contenido2{
    min-height: 100vh;
}
.posicion-nav{
    background-color: brown;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.col-2.bg-success::-webkit-scrollbar {
  display: none;
}
.backg-col1{
    background-image: linear-gradient(to bottom  right, rgb(97, 154, 207) -60%, #fcfcfc 100%);
}
.backg-col2{
    background-color: rgb(245, 240, 233);
}
.backg-col2::-webkit-scrollbar{
    scroll-behavior: smooth;
}
.backg-col3::-webkit-scrollbar{
    scroll-behavior: smooth;
}
/*contenido 1ra columna*/
.em p{
    font-style: italic;
}

.em{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2%;
    font-size: 1.1em;
}
/*contenido 2da columna*/
.cont{
    width: 70%;
    margin: 0 0 5% 15%;
    display: flex;
    flex-direction: column;  
}

.cont h4{
    text-align: center;
    line-height: 1.4em;
    margin: 10%;
    color:cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
}

.cont h3{
    margin-top: 10%;
    position: relative;
    left: 46%;
    width: 9%;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;    
}

.cont h3:hover{
    color: white;
    background-color: rgb(208, 225, 225);
    border-bottom: 1px solid black;
    width: 50px;   
}

.cont p{
    /*font-size: .85em;*/
    
    margin:10px;                                                                                                                              
    text-align: justify;      
}

.fleg{
    width: 100%;
}

.fleg p{
    margin: 10% 0 10% 48%;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: justify;
    /*font-size: .9em;*/
}

.c-r{
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: .8em;*/
    line-height: 1.25em;
}

.pp2 a{
    font-size: 1.2em;

}

.pp2 p:hover a{
    line-height: 2;
}

.pp2 a:hover{
    transition: all 1s;
    color: rgb(253, 250, 250);
    /*font-size: 1.3em;*/
    background-color: black;
    padding: 3%;
}





.pp1{
    text-align: justify;
    line-height: 1.4em;
    margin: 15% 15% 5% 15%;
    display: block;
    float: right;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: .7em;*/
}

.pp2{
    text-align: justify;
    width: 100%;
    line-height: 1.2em;
    display: flex;
    justify-content: right;
    /*font-size: .8em;*/
}

.pp2 p{ 
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: .9em;*/
    width: 50%;
    margin-bottom: 3%;
}

.pp2 span{
    width: 50%;
    margin: 10% 0 2% 0;
   
}

.pp2 em{
    font-family: 'Times New Roman', Times, serif;
    /*font-size: 1.3em;*/
}

.pp2 img{
    display: none;
}

.pp2:hover img{
    display: block;
    width: 12%;
    position: absolute;
    left: 25%;
} 
.pp3{
    width: 100%;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 11px;*/
    display: flex;
    justify-content: right;
}

.pp3 p{
    text-align: center;
    width: 50%;
    margin-bottom: 20px;
}

.pp3 span{
    margin-bottom: 10px;
}
/*latera con scroll izquiedo de la pantalla*/
/*
.lat{
    margin-top: 1.2%;
    background-image: linear-gradient(to bottom right,  rgb(97, 154, 207) -60%, #fcfcfc 100%);
    max-width: 25%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;    
    font-family: .9em;
}

.sol h4{
    background-image: linear-gradient(to bottom right,  rgb(97, 154, 207) -60%, #fcfcfc 100%);
    position: fixed;
    top: 5%;
    left: 2.5%;
    color: rgb(122, 154, 188);
    font-size: 1.5em;
    
}*/
.sol h3{
    padding-top: 5%;
    
}


/*
.sol{
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-left: 3%
}
*/

.sol div{
    color: #777e81;
    margin: 3% 7%;
    padding: 3%;
}
.sol a span{
    line-height: 1.5;
}
.sol p{
    line-height: 1.3;
}

.lat div{
    padding: 10%;
    text-align: left;
    font-size:.9em;
    letter-spacing: 0.2px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.lat span{
    background-color: rgb(149, 197, 228); 
    color: rgb(120, 104, 104);
    font-weight: bold;
}

.lat a{
   
    text-decoration: none;
    color: rgb(50, 43, 43);
}

.lat h3{
    color: aliceblue;
    margin-top: 20%;
    text-align: center;
}

.sol p{
    text-align: left;
    font-size: .8em;
    margin-bottom: 4%;
    color: #5e6264;
}
